name: cd
on:
  push:
    branches:
    - main

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Volta
        uses: volta-cli/action@v4.2.1
      - name: Install dependencies
        run: npm ci
      - name: Build output
        run: npm run build
      - name: Publish to npm
        uses: JS-DevTools/npm-publish@v4.1.1
        with:
          token: ${{ secrets.NPM_TOKEN }}
