name: ci
on:
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Volta
        uses: volta-cli/action@v4.2.1
      - name: Install dependencies
        run: npm ci
      - name: Lint codebase
        run: npm run lint
      - name: Test codebase
        run: npm run test
      - name: Report coverage
        if: always()
        uses:  davelosert/vitest-coverage-report-action@v2.4.0
